<!--The content below is only a placeholder and can be replaced.-->
<div *ngFor="let recipe of recipes">

  <h1 [style.color]="randomColor()">
    {{ recipe.title }}!
  </h1>
  <button (click)="toggleDetails(recipe)">Show Details</button>
  <div *ngIf="recipe.showDetails">
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
    </ul>
    <ol>
      <li *ngFor="let direction of recipe.directions">{{ direction }}</li>
    </ol>
  </div>
  <button (click)="editRecipe(recipe)">Edit</button>
</div>

<form *ngIf="selectedRecipe">
  <h3>Edit Recipe</h3>
  <label>Edit Recipe Name</label>
  <input [(ngModel)]="selectedRecipe.title" name="{{ selectedRecipe.title }}">
  <label>Edit Recipe Ingredients</label>
  <input [(ngModel)]="selectedRecipe.ingredients" name="ingredients">
  <button (click)="finishedEditing()">Done</button>
</form>
